body{
    padding: 0%;
    margin: 0%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-modern{
    padding:20px 30px;
    border-radius: 10px;
    border: none;
    background-color: pink;
    color:white;
}
.btn-modern:hover{
    background-color: gray;
    border-bottom: 4px solid darkorchid;
    transform: translateY(-5px);
    transition: background-color 0.4s;
}
