/*Estilos para colores*/
.colores{
color:orangered;
}
.color-hexadecimal{
color:#BCE784
}
.color-rgb{
color:rgb(100,0,200)
}
.color-rgba{
color:rgba(10,20,30,0.2)
}
/*Fondos*/
.fondo{
background-color:pink;
  background-image:url("");/*Imagen de fondo con url, en este caso en la parte del div que tiene la class:fondo*/
  background-position:right center;
}
.fondo-interno{
  background-image:url("imagenes/fondo.jpg");
  background-position:left buttom;
  }
