/*Estilos para colores*/
.colores{
color:orangered;
}
.color-hexadecimal{
color:#BCE784
}
.color-rgb{
color:rgb(100,0,200)
}
.color-rgba{
color:rgba(10,20,30,0.2)
}
/*Fondos*/
.fondo{
background-color:pink;
  background-image:url("");/*Imagen de fondo con url, en este caso en la parte del div que tiene la class:fondo*/
  background-position:right center;
}
.fondo-interno{
  background-image:url("imagenes/fondo.jpg");
  background-position:left buttom;
  }

/*Tamaños*/
.ancho{
background-color:green;
width:10px;
}
.alto{
background-color:aquamarine;
height:200px;
width:300px;
}

.tarjeta{
border-style:solid;
border-color:rgb(150,150,150);
border-width:1px;
/*border-top:none;*/
padding:10px 20px;
/*padding:10px 20px 30px 40px;*/
margin:10px 20px 30px 40px;
}
