/*siempre conviene copiar la url de la pagina y pegarla en css para no ensuciar el html*/
html{
font-family:´curier new´, Courier, monospace; /*usamos el de la pagina de fonts google*/
font-size:10px;/*larger*/
font-weight:700;
font-style:italic;
}
