h1{
    color: red;
    font-size: 4rem;
}
p{
    color:black;
    font-size: 2rem;
}
/*all and (max-width:576px), el media por defecto 
ya nos afecta todos los dispositivos, sin que haga falta el all and*/ 
@media (max-width:576px){
    h1{
        color:blue;
    }
}
@media (min-width:995px){
    h1{
        color:greenyellow;
    }
}
@media (min-height:300px){
    p{
        color:cyan;
    }
}
@media(orientation:landscape) and (min-height:400px) {
    p{
        color:brown;
    }
}
