.escenario {
    border:1px solid #333;
    padding:10px;
}
/*cambia el tamaño porque em hace referencia al 
tamaño de fuente de su contenedor, mientras que el
rem hace referencia al tamaño de fuente de la raiz*/
.escenario-1{
    font-size: 32px;
}
.escenario-2{
    font-size: 16px;
}
.em {
    font-size: 2em;
}
.rem{
    font-size: 2rem;
}
