body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton:hover {
    background-color: green;
    color: white;
}
.boton::before {
    content: "Pasa por encima"
}
.boton:hover::before {
    content:"¡Hecho!"
}
